.multiple-answers {
  display: flex;
}

.type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:20px 0;
  width: 30%;
}

.label {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}

.answer {
  font-size: 0.9em;
  margin: 5px;
}

.details {
  width: 100%;
}
