.survey-selected .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px 0;
  width: 30%;
  margin: 0 auto;
  background-color: #282c344d;
  border-bottom: 1px solid rgba(40,44,52,.70196);
}

.survey .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px 0;
  width: 100%;
  margin: 0 auto;
  background-color: #282c344d;
  border-bottom: 1px solid rgba(40,44,52,.70196);
}

.survey:hover {
  font-weight: 600;
  background-color: #282c344d;
  color:grey;
  cursor: pointer;
}

.survey:hover .details-survey {
  background-color: white;
  color:#000;
  font-weight: 400;
}

.body_name {
  width: 40%;
}

.body_code {
  width: 60%;
}

.survey-selected {
  width: 100%;
  margin: 0px auto;
  color:grey;
  font-weight: 600;
  cursor: pointer;
}

.survey-selected .details-survey-open {
  background-color: white;
  color:#000;
  font-weight: 400;
  cursor: initial;
}
